@import "tailwindcss";

@layer base {
    @font-face {
        font-family: Rokh;
        src: url("../../public/fonts/Rokh/Rokh Pro v1.0/Farsi Numeral/ttf/RokhFaNum-Bold.ttf");
    }

    @font-face {
        font-family: Rokh-light;
        src: url("../../public/fonts/Rokh/Rokh Pro v1.0/Farsi Numeral/ttf/RokhFaNum-Regular.ttf");
    }

    @font-face {
        font-family: vazir;
        src: url("../../public/fonts/vazir-font-v16.1.0/Vazir-Light.woff2");
    }

    body {
        font-family: Rokh;
    }
}

@theme {
    --color-primary: #CB1B1B;
    --breakpoint-sm: 320px
}

@layer components {
    .btn {
        @apply font-[Rokh-light] font-bold border-primary text-primary border rounded-[12px] flex justify-center items-center hover:cursor-pointer hover:bg-red-100 transition-colors
    }

    .active {
        @apply text-primary
    }

    .menuHover {
        @apply hover:text-primary transition-colors hover:cursor-pointer
    }

    .activeMobileMenu {
        @apply bg-red-200 rounded-xl
    }

    .loginInput {
        @apply w-[100%] h-[56px] rounded-[12px] opacity-100 rotate-0 backdrop-blur-[4px] bg-white/30 border border-[#9CA3AF] placeholder-[#9CA3AF] text-right pr-10 focus:border-primary focus:placeholder-primary outline-none font-[Rokh-light] font-bold
    }

    .activeSidebarMenu {
        @apply border-r-3 border-primary text-primary
    }


}

@media (max-width: 540px) {
    .toast {
        width: 300px !important;
    }
}