@import "tailwindcss";

@layer base{
    @font-face {
        font-family: Rokh;
        src: url("../../public/Rokh/Rokh Pro v1.0/Farsi Numeral/ttf/RokhFaNum-Bold.ttf");
    }
    body{
        font-family: Rokh;
    }
}

@theme{
    --color-primary : #CB1B1B;
    --breakpoint-sm : 320px
}