.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #CB1B1B;
    color: #CB1B1B;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
}
.swiper-button-next ,.swiper-button-prev {
    color: #CB1B1B;
}

.swiper-button-next{
    margin-left: -18px;
}
.swiper-button-prev{
    margin-right: -18px;
}

.swiper-button-prev:after, .swiper-button-next:after{
    font-size: large;
}